.news {
  padding: 60px 0;
  padding-bottom: 100px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    color: $second-color;
  }

  &__list {
    @include list-style;
  }

  @media (min-width: $sm) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
