include ../blocks/page-header/page-header.pug
include ../blocks/logo/logo.pug
include ../blocks/contacts/contacts.pug
include ../blocks/main-menu/main-menu.pug
include ../blocks/toggle-button/toggle-button.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/directions/directions.pug
include ../blocks/socials/socials.pug
include ../blocks/front/front.pug
include ../blocks/advantages/advantages.pug
include ../blocks/clients/clients.pug
