mixin page-header(page)
  header.page-header&attributes(attributes)
    .container
      .page-header__content
        .page-header__top
          .page-header__logo
            +logo()(src="../img/logo-sm.svg", width="60", height="60")
          .page-header__contacts
            a.page-header__phone(href=`tel:${l.contacts.list[0].value}`)= l.contacts.list[0].value
        .page-header__nav
          +main-menu(page)
        .page-header__toggle
          +toggle-button
