.directions {
  &__list {
    @include list-style;
    text-align: center;
  }

  &__link {
    @include transition;

    position: relative;
    display: inline-block;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      color: $secondary-color;
    }

    &::before {
      content: "\21e8";
      position: absolute;
      left: 0;
    }

    &--images {
      margin-bottom: 70px;
      padding: 0;
      padding-top: 195px;
      text-align: center;

      &::before {
        content: "";
        top: 0;
        left: 50%;
        margin-left: -83px;
        width: 166px;
        height: 166px;

        border-radius: 50%;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
      }

      &:hover::before {
        background-size: 110%;
      }

      &.directions__link--air-protection::before {
        background-image: url("../img/air-protection.jpg");
      }

      &.directions__link--land-use::before {
        background-image: url("../img/land-use.jpg");
      }

      &.directions__link--consulting::before {
        background-image: url("../img/consulting.jpg");
      }

      &.directions__link--waste-management::before {
        background-image: url("../img/waste-management.jpg");
      }

      &.directions__link--impact-assessment::before {
        background-image: url("../img/impact-assessment.jpg");
      }
    }
  }

  @media (min-width: $md) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      width: 50%;
    }
  }

  @media (min-width: $lg) {
    &__item {
      width: 33%;
    }
  }

  @media (min-width: $xl) {
    &__item {
      width: 20%;
    }
  }
}
