mixin main-menu(page)
  nav.main-menu
    ul.main-menu__list
      each val in l["main-menu"]
        li
          a.main-menu__item(href=val.href)= val.title
      li
        span.main-menu__item.main-menu__dropdown-btn #{l.lang}
        ul.main-menu__dropdown
          li.main-menu__dropdown-item
            a.main-menu__item(href=`../ua/${page}`) ua
          li.main-menu__dropdown-item
            a.main-menu__item(href=`../ru/${page}`) ru
