extends ../templates/template.pug
block content
  +page-header("about.html", "page-header--light")
  main.page-main
    .page-main__description
      .container
        +description
    .page-main--dark-back
      .container
        +features
    .container
      +advantages
  +page-footer

