extends ../templates/template.pug
block content
  +page-header("index.html")
  main.page-main
    .page-main__front
      .container
        +front
    .page-main__activities
      .container
        +activities(class="activities--images")
    .page-main--dark-back
      .container
        +about
    .page-main__advantages
      .container
        +advantages
    .page-main--dark-back
      .container
        +clients
    .page-main__news
      .container
        +news
  +page-footer
