mixin page-footer
  footer.page-footer&attributes(attributes)
    .container
      .page-footer__content
        .page-footer__top
          .page-footer__col
            h2.page-footer__section-title= l.contacts.title
            +contacts
          .page-footer__col
            +activities({title: "page-footer__section-title"})
          .page-footer__col
            +socials({title: "page-footer__section-title"})
        p.page-footer__copyright
          span &copy; 2019
          a.page-footer__copyright-link(href='https://nicknaumenko.github.io/', target="_blank", rel="noopener noreferrer") by
            svg.page-footer__copyright-logo(width="25px" height="30")
              use(xlink:href="#logo-nick")
