.page-footer {
  color: #ffffff;
  background-color: $primary-color;

  &__content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__section-title {
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    &__content {
      display: flex;
      justify-content: space-between;
    }

    &__section-title {
      font-size: 19px;
      line-height: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    &__section-title {
      font-size: 22px;
      line-height: 26px;
    }
  }
}
