mixin front(modifier)
  section.front&attributes(attributes)
    .front__content
      +logo("front__logo")(src="../img/logo-big.svg")
      section.front__contacts
        h2.front__title #{l.contacts.title}
        +contacts("contacts--front")
      .front__text-block
        p.front__text #{l.front.lead}
        p.front__text #{l.front.description}
