.contacts {
  padding: 0;
  font: inherit;

  &--front {
    .contacts__address {
      @include visually-hidden;
    }

    .contacts__phone {
      letter-spacing: 2px;
    }

    .contacts__icon {
      fill: currentColor;
    }
  }

  &__list {
    @include list-style;
  }

  &__link,
  &__address {
    position: relative;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
  }

  &__icon {
    position: absolute;
    top: 2px;
    left: 0;

    fill: $second-color;
  }

  &__email {
    text-transform: lowercase;
  }

  &__link:hover {
    color: $second-color;
  }
}
