mixin post
  article.post&attributes(attributes)
    a.post__link(href="#")
      h3.post__title Nmdfkajfdf fdsafsdf
      p.post__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      time.post__date(datetime="2019-05-15 20:00") 15 May
