mixin toggle-button(modifier)
  button.toggle-button&attributes(attributes)
    span.visually-hidden #{l["main-menu"]["toggle-button"]}
    span.toggle-button__bar(aria-hidden)
    span.toggle-button__bar(aria-hidden)
