mixin toggle-button(modifier)
  button.toggle-button&attributes(attributes)
    span.visually-hidden= l["menu-button"]
    span.toggle-button__bar(aria-hidden="true")
    span.toggle-button__bar(aria-hidden="true")
