.toggle-button {
  @include button;
  @include transition;
  position: relative;

  width: 40px;
  height: 40px;

  color: inherit;

  &__bar,
  &::before,
  &::after {
    @include transition;

    content: "";

    position: absolute;
    top: 19px;
    left: 0px;
    display: block;
    width: 40px;
    height: 2px;
    background-color: currentColor;
  }

  &__bar:nth-of-type(2) {
    top: 5px;
  }

  &__bar:last-of-type {
    top: 33px;
  }
}

.menu-open {
  .toggle-button {
    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
      box-shadow: none;
    }

    &__bar {
      opacity: 0;
    }
  }
}
