.clients {
  padding: 60px 0;
  color: $fourth-color;

  &__title {
    @include section-header;
    color: $fourth-color;
  }

  &__list {
    @include list-style;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin-bottom: 90px;
  }

  &__link {
    @include transition;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      opacity: 0.3;
    }
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__item-title {
    text-align: center;
  }

  // @media (min-width: $sm) {
  //   &__list {
  //     flex-direction: row;
  //     flex-wrap: wrap;
  //   }

  //   &__item {
  //     box-sizing: border-box;
  //     width: 30%;
  //   }
  // }

  @media (min-width: $md) {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -30px;
      margin-right: -30px;
    }

    &__item {
      margin-bottom: 10px;
      padding: 0 30px;
    }

    &__logo {
      max-width: 200px;
    }

    &__item-title {
      @include visually-hidden;
    }
  }
}
